<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        
    </style>
    <meta charset="UTF-8">
    <title>首頁</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<body>
    <div class="container my-5 ">
        <h1 class="text-center mb-5">歡迎來到我的BootCamp Project !</h1>
        <div class="d-flex justify-content-center">
            <a th:href="@{/stockpage}" class="btn btn-primary mr-3">Stock Page</a>
            <a th:href="@{/coinpage}" class="btn btn-primary mr-3">Coin Page</a>
        </div>
    </div>
</body>
</html>